
.idea
resources
backend/search/__pycache__
backend/.env
frontend/tsconfig.node.json
frontend/tsconfig.json
frontend/tsconfig.app.json
frontend/package.json
frontend/package-lock.json
backend/config/__pycache__
backend/models/__pycache__
backend/routes/__pycache__
backend/instance/auth.db
